.calc{
    height: 600px;
    width: 400px;
    background-color: grey;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 36px;
    margin-left: 33px;
    margin-top: 26px;
    pointer-events: none;
}
.btn{
    width: 45px;
    height: 52px;
    margin-left: 44px;
    margin-top: 40px;
    background-color: azure;
}